@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bitter&display=swap");

.container a {
  font-family: "Bitter", serif;
  letter-spacing: 3px;
}

.container {
  display: flex;
  gap: 12px;
  height: 150px;
  justify-content: left;
  background-color: #a67968;
  align-items: center;
  color: #fff;
  border-bottom: #188c8c 10px solid;
}

.headertitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerimage {
  padding: 10px 25px;
  letter-spacing: 5px;
}

.headerlinks {
  display: flex;
}

.loggedin {
  font-family: "Arimo", sans-serif;
  color: #fff;
  padding-left: 250px;
}
