@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bitter&display=swap');


.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #A67968;
  align-items: center;
  padding: 50px;
  font-family: "Arimo", sans-serif;
  color: #fff;
}
