@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bitter&display=swap");
@media screen and (max-width: 400px) {
  .createtask {
    display: flex;
    flex-direction: column;
  }
}

.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main p {
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 10px;
}

.imgwrapper {
  height: 100%;
}

.imgwrapper {
  z-index: -1;
}

.maincontent {
  padding: 0rem 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;
}

.main button {
  background-color: #f2d785;
  border: 1px solid black;
  font-family: "Bitter", serif;
  padding: 5px 10px;
  font-size: 14px;
}

.main button:hover {
  background-color: #188c8c;
}

.greeting {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.greeting h1 {
  font-family: "Bitter", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-align: center;
}
.createTaskList {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.submitTaskList {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.labels {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.labels h1 {
  font-family: "Bitter", serif;
  font-size: 18px;
}

.createTaskList label,
.createTask label {
  font-family: "Bitter", serif;
  padding-right: 10px;
}
.createTaskList input,
.createTask input {
  border: 2px black solid;
  margin: 10px;
}

.createTask {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.createTask button {
  margin: 10px;
}

.taskContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskListResult {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Bitter", serif;
}

.taskResult,
.responseContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Bitter", serif;
}

.taskListResult,
.taskResult p {
  margin-bottom: 0px 20px;
}

.response {
  margin-top: 25px;
  font-size: 18px;
  padding: 50px;
  font-family: "Bitter", serif;
}

.responsewrapper {
  border: 10px solid #188c8c;
}

.resultButton {
  padding-left: 20px;
}
