@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Bitter&display=swap");

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 75vh;
}

.title {
  font-family: "Bitter", serif;
  font-size: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Arimo", sans-serif;
  font-size: 14px;
}


.imgwrapper {
  height: 100%;
}

.form label {
  padding-bottom: 10px;
  font-size: 16px;
}

.form input {
  border: 2px black solid;
  margin: 10px 0px;
}

.main button {
  background-color: #f2d785;
  border: 1px solid black;
  font-family: "Bitter", serif;
  padding: 5px 10px;
  font-size: 16px;
}
